{% extends "base.html" %}

{% block content %}
    <h1>Member</h1>


    <ul>
        <li><label for="name">Name: {{ member.name }}</label></li>
        <li><label for="surname">Surname: {{ member.surname }}</label></li>
    </ul>

    <form method="post">
        {% csrf_token %}
        <input class="button-delete" type="submit" name="member_delete" id="member_delete" value="delete">
    </form>

    <input class="button-back" type="button" onclick="location.href=/evca/" value="Back">

{% endblock content %}